bandwidth-sdk==11.0.0
CacheControl==0.12.6
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
click==8.0.0
configparser==5.0.2
cryptography==3.4.7
enum34==1.1.10
Flask==2.0.0
idna==2.10
itsdangerous==2.0.1
Jinja2==3.0.1
jsonpickle==0.9.6
jwt==1.2.0
lxml==4.6.3
MarkupSafe==2.0.1
msgpack==1.0.2
pycparser==2.20
python-dateutil==2.8.1
requests==2.25.1
six==1.16.0
urllib3==1.26.4
Werkzeug==2.0.1
